
.font-weight-bold {
font-weight: bold;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: Cornsilk;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

body {font-family: Garamond;
  text-align: justify;
font-size: 22px;
background-image: url("morceau.jpg");
background-size: 20%;
background-repeat: repeat;
}



h1 {
  background-color: Cornsilk;
  text-align: center;
font-size: 60px;
margin-top: 60px;
  opacity: 0.8;}

h2 {
    text-align: center;
    font-size: 40px;
    }

#notice {background-color: OldLace;
    opacity: 0.9;
}

table {
  counter-reset: row;
    background-color: AntiqueWhite;
      opacity: 0.9;
}

table td:nth-child(2) {
  text-align: center;
}

tr {
  color: black;
    text-align: justify;
    font-size: 22px;
      counter-increment: row;
}

td:nth-child(2):after {
  content: counter(row);
  margin-left: 5px;
}

.note {background-color: OldLace;
  padding: 3px;
  text-align: justify;
  font-size: 18px;
  opacity: 0.9;
  }
